name: Deploy to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18 # Or your preferred version

      - name: Install dependencies
        run: cd React/finance-app && npm install

      - name: Run end-to-end tests
        run: cd React/finance-app && npm run e2e
        env:
          CI: true

  deploy:
    needs: e2e-tests  # Ensure e2e tests pass before deploying
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18 # Or your preferred version

      - name: Install dependencies
        run: cd React/finance-app && npm install

      - name: Build React app
        run: cd React/finance-app && npm run build

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
        with:
          artifact-dir: React/finance-app/dist

permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from our repository

